body            { font-family: sans-serif; }
h2 a:visited {color: black; text-decoration:none;}
h2 a:hover {color: black; text-decoration:none;}
h1 a:visited {color: black; text-decoration:none;}
h1 a:hover {color: black; text-decoration:none;}
h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee;font-family: monospace;}

h2 a         { color:black; text-decoration:none; }
h1 a         { color:black; text-decoration:none; }
.page           { margin: 2em auto; width: 60%;
  padding: 0.8em; background: white; }
  .entries        { list-style: none; margin: 0; padding: 0; }
  .entries li     { margin: 0.8em 1.2em; }
  .add-entry      { font-size: 0.9em; border-bottom: 1px solid #EEE; }
  .add-entry dl   { font-weight: bold; }
  .metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
    .entries h1     { border-bottom: 2px solid #eee; font-weight: 500;}
    .flash          { background: #22FD4C; padding: 0.5em;
      border: 1px solid #FFFFFF; }
      .time           {color: #AFAFAF}
      #site_title {font-weight: bold;margin-bottom: 0.3em;    border-bottom: 0px; font-size: 3.5em;text-align: center;}
      .error          { background: #f0d6d6; padding: 0.5em; }
      .entry_title {font-weight: bold;}
      #read_more {font-weight: bold; color:black;}
      .pagination-page-info {
        padding: .6em;
        padding-left: 0;
        width: 40em;
        margin: .5em;
        margin-left: 0;
        font-size: 12px;
      }
      .pagination-page-info b {
        color: black;
        background: #6aa6ed;
        padding-left: 2px;
        padding: .1em .25em;
        font-size: 150%;
      }
      .nav ul {
        list-style: none;
        background-color:#F3F3F3;
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .nav li {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #888;
      }
      .nav a {
        text-decoration: none;
        color: black;
        display: block;
        transition: .3s background-color;
      }

      .nav a:hover {
        background-color: #0F0F0F;
        color: white;
      }

      .nav a.active {
        background-color: #fff;
        color: #444;
        cursor: default;
      }

      @media screen {
        .nav li {
          width: 120px;
          border-bottom: none;
          height: 50px;
          line-height: 50px;
          font-size: 1.4em;
        }
        .nav li {
          display: inline-block;
          margin-right: -4px;
        }

        #avatar
        {
          display: block;
          margin-left: auto;
          margin-right: auto
        }
        .logo
        {
          margin: 10px;
          margin-left: 4em;
          float: right;
          height: 60px;
          width: 60px;
        }
        img,iframe 
        {
          margin: 1em;
          height: 250px;
          width: 250px;
          max-width:230px;
          max-height:230px;
          width: auto;
          height: auto;
        }
.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}