body            { font-family: sans-serif; }
h2 a:visited {color: black; text-decoration:none;}
h2 a:hover {color: black; text-decoration:none;}
h1 a:visited {color: black; text-decoration:none;}
h1 a:hover {color: black; text-decoration:none;}
h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee;font-family: monospace;}
.social_network {text-align: center;}
h2 a         { color:black; text-decoration:none; }
h1 a         { color:black; text-decoration:none; }
.page           { margin: 2em auto; width: 60%;
  padding: 0.8em; background: white; }
  .entries        { list-style: none; margin: 0; padding: 0; }
  .add-entry      { font-size: 0.9em; border-bottom: 1px solid #EEE; }
  .add-entry dl   { font-weight: bold; }
  .metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
    .entries h1     { border-bottom: 2px solid #eee; font-weight: 500;}
    .flash          { background: #22FD4C; padding: 0.5em;
      border: 1px solid #FFFFFF; }
      .time           {color: #AFAFAF}
      #site_title {font-weight: bold;margin-bottom: 0.3em;    border-bottom: 0px; font-size: 3.5em;text-align: center;}
      .error          { background: #f0d6d6; padding: 0.5em; }
      .entry_title {font-weight: bold;margin-top: 5px}
      .read_more {font-weight: bold; color:black;}
      .pagination-page-info {
        padding: .6em;
        padding-left: 0;
        width: 40em;
        margin: .5em;
        margin-left: 0;
        font-size: 12px;
      }
      .pagination-page-info b {
        color: black;
        background: #6aa6ed;
        padding-left: 2px;
        padding: .1em .25em;
        font-size: 150%;
      }
      .nav ul {
        list-style: none;
        background-color:#F3F3F3;
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .nav li {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #888;
      }
      .nav a {
        text-decoration: none;
        color: black;
        display: block;
        transition: .3s background-color;
      }

      .nav a:hover {
        background-color: #0F0F0F;
        color: white;
      }

      .nav a.active {
        background-color: #fff;
        color: #444;
        cursor: default;
      }

      .entry_title a {
        text-decoration: none;
        color: black;
        display: block;
        transition: .3s background-color;
      }

      .entry_title a:hover {
        background-color: #0F0F0F;
        color: white;
      }

      .entry_title a.active {
        background-color: #fff;
        color: #444;
        cursor: default;
      }

      @media screen {
        .nav li {
          width: 120px;
          border-bottom: none;
          height: 50px;
          line-height: 50px;
          font-size: 1.4em;
        }
        .nav li {
          display: inline-block;
          margin-right: -4px;
        }

        #avatar
        {
          display: block;
          margin-left: auto;
          margin-right: auto
        }
        .logo
        {
          margin: 10px;
          margin-left: 4em;
          float: right;
          height: 60px;
          width: 60px;
        }
        img,iframe 
        {
          margin: 1em;
          height: 250px;
          width: 250px;
          width: auto;
          height: auto;
        }
.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}

/*
ssn link
*/

.icon-link {
  width: 60px;
  height: 60px;
  background-color: black;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}
.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.tumblr {
  background-color: #32506d;
}
.icon-link.fill.tumblr:hover {
  background-color: #fff;
}
.icon-link.fill.tumblr:hover .fa-tumblr {
  color: #32506d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.linkedin {
  background-color: #007bb6;
}
.icon-link.fill.linkedin:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.google-plus {
  background-color: #dd4b39;
}
.icon-link.fill.google-plus:hover {
  background-color: #fff;
}
.icon-link.fill.google-plus:hover .fa-google-plus {
  color: #dd4b39;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.reddit {
  background-color: #8bbbe3;
}
.icon-link.fill.reddit:hover {
  background-color: #fff;
}
.icon-link.fill.reddit:hover .fa-reddit {
  color: #8bbbe3;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.youtube {
  background-color: #df1c31;
}
.icon-link.fill.youtube:hover {
  background-color: #fff;
}
.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.pinterest {
  background-color: #b81621;
}
.icon-link.fill.pinterest:hover {
  background-color: #fff;
}
.icon-link.fill.pinterest:hover .fa-pinterest {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.github {
  background-color: #444;
}
.icon-link.fill.github:hover {
  background-color: #fff;
}
.icon-link.fill.github:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.envelope {
  background-color: #333;
}
.icon-link.fill.envelope:hover {
  background-color: #fff;
}
.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.soundcloud {
  background-color: #f50;
}
.icon-link.fill.soundcloud:hover {
  background-color: #fff;
}
.icon-link.fill.soundcloud:hover .fa-soundcloud {
  color: #f50;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.brand {
  background-color: #fff;
}
.icon-link.brand .fa {
  color: #006FC2;
}
.icon-link.round {
  border-radius: 50%;
}
.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  height: 56px;
  line-height: 56px;
  width: 56px;
  background-color: #fff;
}
.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.tumblr {
  border: 2px solid #32506d;
}
.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover.google-plus {
  border: 2px solid #dd4b39;
}
.icon-link:hover.reddit {
  border: 2px solid #8bbbe3;
}
.icon-link:hover.youtube {
  border: 2px solid #df1c31;
}
.icon-link:hover.pinterest {
  border: 2px solid #b81621;
}
.icon-link:hover.github {
  border: 2px solid #444;
}
.icon-link:hover.envelope {
  border: 2px solid #333;
}
.icon-link:hover.soundcloud {
  border: 2px solid #f50;
}
.icon-link:hover .fa {
  line-height: 56px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-tumblr {
  color: #32506d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-google-plus {
  color: #dd4b39;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-reddit {
  color: #8bbbe3;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-pinterest {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-envelope {
  color: #333;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-soundcloud {
  color: #f50;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link .fa {
  color: #fff;
  line-height: 60px;
  font-size: 36px;
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}

