{% extends "layout.html" %}
{% block body %}
<div id="header">
  <p>Hi, My name is Tiancheng Wu, and currently I am working at Cerner Corp. as a software engineer. Thank you for stoping by, this site is still under construction and new features will be added as time goes by, please feel free to contact me at  <a href="mailto:txw180@case.edu">txw180@case.edu</a>.</p>  
<div class="social_network">
  <a class="icon-link facebook" href="https://www.facebook.com/tiancheng.wu.7" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="icon-link linkedin" href="https://www.linkedin.com/pub/tiancheng-wu/7b/a40/68" target="_blank"><i class="fa fa-linkedin"></i></a>
<a class="icon-link github" href="https://github.com/ilikeeatingrice" target="_blank"><i class="fa fa-github"></i></a>
<a class="icon-link envelope" href="mailto:txw180@case.edu" target="_blank"><i class="fa fa-envelope"></i></a>
</div>
  </div>
  <div id = "resume">
    <div name = "info" id ="info" class="information">
      <hr size=1>
      <h2 id = "edu">Education</h2>
      <div id="bs">
        <img class="logo" id ="bs" name = "bslogo" src="{{ url_for('static', filename='250px-Chongqing_University_Logo.png') }}">
        <p>BS, Software Engineer, Chongqing University</p>
        <ul>
          <li>Related course work: Most computer science and engineering related courses in undergraduate level</li>
          <li>Attended from 09/2007 to 07/2011</li>
        </ul>
      </div>
      <div id = "ms">
       <img class="logo" id ="ms" name = "mslogo" src="{{ url_for('static', filename='200px-Case_Western_Reserve_University_seal.svg.png') }}">
       <p>MS, Computer Science, Case Western Reserve University</p>
       <ul>
        <li>Related course work: Computer networking, Database system, Web data mining, Data structure and file management, Data mining, Computer security.</li>
        <li>Attended from 09/2011 to 08/2014</li>
      </ul>
    </div>
    <hr size=1>
    <h2 id="exp">Current</h2>
    <div id = "work">
      <img class="logo" id ="cerner" name = "cernerlogo" src="{{ url_for('static', filename='cernerlogo.png') }}">
      <p>09/2014-present Software engineer at Cerner Corporation</p>
      <ul>
        <li>Home Care Development Team - worked on <a href="https://store.cerner.com/items/2191">HomeWorks</a>, using C#, WPF, Sybase and Visual Basic.</li>
        <li><a href="https://www.cerner.com/solutions/population_health/healthe_intent/">Health Intent Development</a>, Population Development - working with Hadoop/Crunch, Splunk, MySQL etc.</li>
      </ul>
    </div>
    <hr size=1>
    <h2 id="exp">Experience</h2>
    <h3>Internship Experience</h3>
    <div id = "intern">
      <img class="logo" id ="intern" name = "internlogo" src="{{ url_for('static', filename='FALogo_FA_Vert-rgb.png') }}">
      <p>06/2013-08/2013 Summer internship at First American App Development Team</p>
      <ul>
        <li>Developed cross-cutting logging module by using Log4Net and NLog along with Unity Framework. The logging behavior including logging input parameter information, output information, method information, and exception.</li>
        <li>Implemented caching call handler using Policy Injection for the Eagle Pro system.</li>
      </ul>
    </div>
    <hr size=1>
    <h3>Project Experience</h3>
    <div id = "hra">
      <img class="logo" id ="hra" name = "hralogo" src="{{ url_for('static', filename='HealthyLifeHRA.png') }}">
      <p>08/2012 - 07/2014 <a href="https://hra2.case.edu">HealthyLife Health Risk Assessment</a> for Metro Hospital, CWRU, Metro Health Hospital, Cleveland</p>
      <ul>
        <li>Performed Unit Testing to the website using Selenium and JUnit.</li>
        <li>Implemented user interface for questionnaire and report page.</li>
        <li>Working on the administration page for doctors using Play Framework</li>
        <li>Implemented and maintaining database (MySQL), generating JSON file from database with tables represented as multi-dimensional arrays</li>
      </ul>
    </div>
    <hr size=1>
    <h2 id ="skills">Skills</h2>
    <p>C++, C#, Java, Python, JUnit, Selenium, Unity Framework (Unity Application Block), Flask, Amazon Web Service, MySQL, REST, Play! Framework, Crunch/Hadoop, Splunk</p>
    <p>Systems: Linux (Ubuntu), Windows XP/Vista/7, MAC</p>
  </div>  
</div>
<hr size=1>
{% endblock %}