<!doctype html>
<html lang="en">
<head>
  <title>Tiancheng Wu</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script>
  $(document).ready(function() {
    $('p code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
  </script>
</head>
<div class=page>
  <div id = "menu">
  <h1 id="site_title"><a href = "{{url_for('show_entries')}}">Piggyland</a></h1>
</div>
   <hr size=1>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</html>