{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text ng-model="text" rows=5 cols=40></textarea>
        <dd><input type=submit value=Post>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
    {{ pagination.links }}
  {% for entry in entries %}
  {% if entry.text|length < 401 %}
    <li><h2 class="entry_titile"><a href = "{{url_for('show_entry', entryId=entry.entryId)}}">{{ entry.title }}</a></h2><p class="time">{{entry.time}}</p>{{ entry.text|safe|markdown }}</li>
  <hr size=1>
  {% else %}
    <li><h2 class="entry_titile"><a href = "{{url_for('show_entry', entryId=entry.entryId)}}">{{ entry.title }}</a></h2><p class="time">{{entry.time}}</p><p class="entry">{{ entry.text[:400]|safe|markdown }}</p> <p><a id = "read_more" href = "{{url_for('show_entry', entryId=entry.entryId)}}">Read more...</a></p>
  <hr size=1>
  {% endif %}
  {% else %}
    <li><em>No entries here...</em>
  {% endfor %}
  </ul>
  {{ pagination.links }}
{% endblock %}